
<!DOCTYPE html>
<html>
<head>
    <title>admin</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/401.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .confirmWidth {
            width: 500px;
            margin: 0 auto;
        }

        .modal-dialog-xoa {
            top: 40% !important;
            left: 30% !important;
            margin: 0 !important;
        }

        #background-color {
            background-color: #f1f1f1;
        }
    </style>
   
    
</head>
<body>
    
    admin abc

    <div class="container mainContent" ui-view="">
        
        
        
    </div>


    <script src="http://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="https://code.angularjs.org/1.3.17/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
   
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/angular-base64.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
   

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ng-ckeditor.js"></script>
    <link href="~/Scripts/ng-ckeditor.css" rel="stylesheet" />


    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myApp")
   
</body>
</html>








