
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>SPA</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/401.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .confirmWidth {
            width: 500px;
            margin: 0 auto;
        }

        .modal-dialog-xoa {
            top: 40% !important;
            left: 30% !important;
            margin: 0 !important;
        }

        #background-color {
            background-color: #f1f1f1;
        }
        body {
            background-color: #f1f1f1;
        }
        #menu, #content-admin, #sidebar-admin, #menu-side-admin,#content-page {
            background: #fff;
            -webkit-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            /*border-bottom: 5px solid #e8ebf2;*/
            padding: 10px;
            padding-bottom: 10px;
        }
        #menu-side-admin {
            background: #fff;
            -webkit-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            /*border-bottom: 5px solid #e8ebf2;*/
            /*padding: 10px;
            padding-bottom: 10px;*/
        }
        .margin-left-right-3px {
            margin-left:3px;
            margin-right:3px;
        }
        /*.padding-res{
            padding:0px;
        }*/
        
    </style>
    <script>
       
        document.write('<base href="' + document.location.pathname + '" />')
    </script>
    
</head>
<body ng-controller="rootCtrl" >
    <div id="wrapper" ui-view="" class="container">

    </div> 
  
    <div>
        <div class="col-md-12" id="thong-bao">
            <div class="alert alert-success alert-dismissable alert-message hide">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>  <i class="icon fa fa-check"></i> Thông báo!</h4>
                Sửa đổi thành công !!!!
            </div>
        </div>
        <div class="col-md-12" id="thong-bao">
            <div class="alert alert-success alert-dismissable alert-message-delete hide Xoa">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>  <i class="icon fa fa-check"></i> Thông báo!</h4>
                Xóa thành công !!!!
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")*@
    <script src="http://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="https://code.angularjs.org/1.3.17/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
   
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/angular-base64.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
   

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ng-ckeditor.js"></script>
    <link href="~/Scripts/ng-ckeditor.css" rel="stylesheet" />


    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myApp")

    <script>
        $(document).ready(function () {
           
            $("a[href$='http://somee.com']").html('');
        });
    </script>
   
</body>
</html>








