<div class="wrap">
    <!---start-header---->
    <!--<div class="header">
        <div class="logo">
            <h1><a href="#">Ohh</a></h1>
        </div>
    </div>-->
    <!---End-header---->
    <!--start-content------>
    <div class="content">
        <img src="images/error-img.png" title="error" />
        <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
        <a ui-sref="home" style="text-decoration:none">Back To Home</a>
        <div class="copy-right">
            <p>&copy; 2013 Ohh. All Rights Reserved | Design by <a ui-sref="home">minh-group</a></p>
        </div>
    </div>
    <!--End-Cotent------>
</div>