<div ng-show="show">
    <div class="panel panel-default" style="background-color: #f1f1f1">
        <div class="panel-body">
            <form name="formAdd" ng-submit="InsUpdNhanVien()" class="form-horizontal">
                <!-- START THE FORM -->
                <div class="col-sm-6">
                    <!-- FIRST COLUMN -->
                    <div class="form-group">
                        <label for="inputFirstname" class="col-sm-3 control-label">Họ tên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="hoten" placeholder="Họ tên" ng-model="HoTen" required tabindex="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" placeholder="Email" ng-model="Email" required tabindex="3">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- SECOND COLUMN -->
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-3 control-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="diachi" placeholder="Địa chỉ" ng-model="DiaChi" required tabindex="2">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputUsername" class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="sodienthoai" placeholder="Số điện thoại" tabindex="4" ng-model="SoDienThoai" required />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default btn-sm" ng-click="cancelSave()">Cancel</button>&nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </div>
                </div>
            </form> <!-- END THE FORM -->
        </div>
    </div><!-- END PANEL -->
</div>

<button ng-hide="show" class="btn btn-default" type="button" style="margin-bottom: 20px;" ng-click="themnhanvien()">Add Nhân viên</button>


<div>
    <div class="panel panel-default">
        <table class="table table-bordered table-hover" style="width:100%">
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Edit/Delete</th>
            </tr>
            <tr data-ng-repeat="nhanvien in NhanViens">
                <td><strong>{{ nhanvien.ID }}</strong></td>
                <td><strong>{{ nhanvien.HoTen }}</strong></td>
                <td><strong>{{ nhanvien.Email }}</strong></td>
                <td><strong>{{ nhanvien.DiaChi }}</strong></td>
                <td><strong>{{ nhanvien.SoDienThoai }}</strong></td>
                <td>
                    <button type="button" class="btn" ng-click="editNhanVien(nhanvien.ID)">Edit</button>
                    <button type="button" class="btn" ng-click="deleteNhanVien(nhanvien.ID)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>