
<nav class="navbar navbar-default margin-top-10px " id="menu-side-admin" style=" padding: 0 15px !important;">
    <div class="container mainContent no-padding-res">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " ui-sref="home"><span class="glyphicon glyphicon-home"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="home" ui-sref-active="active"><b>Group News</b> <span class="sr-only">(current)</span></a>
                </li>

            </ul>

            <!--<ul class="nav navbar-nav navbar-right">



                <li><a ui-sref="tintuc" ng-if="userData.isUserLoggedIn">{{username}}</a></li>
                <li><a ui-sref="login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
                <li>
                    <a  ng-click="logout();" ng-if="userData.isUserLoggedIn">
                        Logout
                        <i class="fa fa-sign-out fa-fw pull-right"></i>
                    </a>
                </li>
            </ul>-->

            <ul style="float:right;line-height:50px;">
                <li><b><a ui-sref="login" ng-if="!userData.isUserLoggedIn">Đăng nhập</a></b></li>
                <li ng-if="userData.isUserLoggedIn"><b>{{username}} | <a class="thoat" ng-click="logout();">Thoát</a></b></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

